@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none !important;
}
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
